.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 100px;
  padding: 0;
  text-align: center;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  border-right: 1px solid #eee;
  color: #fff;
}
.react-tabs__tab:last-of-type {
  border-right: none;
}
.react-tabs__tab--selected {
  color: #7fa1e8;
}

.react-tabs__tab--disabled {
  color: grey;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
@media (max-width: 700px) {
  .react-tabs__tab-list {
    margin: 0 0 20px;
  }
  .react-tabs__tab{
    font-size: 14px;
  }
}
